{% extends 'menu.html' %}
{% load static %}
{% block title%}Read Clientes{% endblock %}
{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Nome</h5>
    </div>
    <div class="col">
      <h5>CPF</h5>
    </div>
    <div class="col">
      <h5>Idade</h5>
    </div>
    <div class="col">
      <h5>Endereço</h5>
    </div>
    <div class="col">
      <h5>Genero</h5>
    </div>
    <div class="col">
      <h5>Editar</h5>
    </div>
    <div class="col">
      <h5>Excluir</h5>
    </div>
  </div>
  {% for cliente in clientes %}
  <div class="row">
    <div class="col">
      <h5>{{ cliente.nome }}</h5>
    </div>
    <div class="col">
      <h5>{{ cliente.cpf }}</h5>
    </div>
    <div class="col">
      <h5>{{ cliente.idade }}</h5>
    </div>
    <div class="col">
      <h5>{{ cliente.endereco }}</h5>
    </div>
    <div class="col">
      <h5>{{ cliente.genero }}</h5>
    </div>
    <div class="col">
      <h5><a href="update_cliente/{{ cliente.id }}"><img src="{% static 'images/edit.png' %}" height="30px"></a></h5>
    </div>
    <div class="col">
      <h5><h5><a href="delete_cliente/{{ cliente.id }}"><img src="{% static 'images/excluir.png' %}" height="30px"></a></h5></h5>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}