{% extends 'base.html' %}
{% load static %}
{% block menu%}
<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Consultorio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Médico
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'create_doctor' %}">Cadastrar</a></li>
                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Paciente
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cadastrar</a></li>
                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Agenda
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Marcar Consulta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Calendario</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container"><br>{% endblock %}{% block footer%}<br></div>
<footer class="bd-footer bg-body-tertiary" style="height: 200px">
    <div class="container text-body-secondary">
        <div class="row">
            <div class="col-6">
                Feito por Kallil
            </div>
            <div class="col-2">
                Termo de Uso
            </div>
            <div class="col-2">
                Sobre
            </div>
            <div class="col-2">
                Redes Sociais
            </div>
        </div>
    </div>
</footer>
{% endblock %}